BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "c0[0]" SITE "1" ;
LOCATE COMP "c0[1]" SITE "2" ;
LOCATE COMP "c0[2]" SITE "3" ;
LOCATE COMP "e0[0]" SITE "5" ;
LOCATE COMP "e0[1]" SITE "6" ;
LOCATE COMP "e0[2]" SITE "9" ;
LOCATE COMP "e0[3]" SITE "10" ;
LOCATE COMP "s0[0]" SITE "59" ;
LOCATE COMP "s0[1]" SITE "57" ;
LOCATE COMP "s0[2]" SITE "56" ;
LOCATE COMP "s0[3]" SITE "54" ;
LOCATE COMP "oscraw0" SITE "61" ;
LOCATE COMP "oscdiv0" SITE "60" ;
LOCATE COMP "indiv0[0]" SITE "11" ;
LOCATE COMP "indiv0[1]" SITE "12" ;
LOCATE COMP "indiv0[2]" SITE "13" ;
LOCATE COMP "indiv0[3]" SITE "14" ;
